{% extends "layout.html" %}
{% block main %}
<div class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row py-5 justify-content-center menu">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="col-12">
            {% for category, message in messages %}
              <div class="mt-2 alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="col-12 col-sm-6">
        <div class="py-5 mr-4 d-flex justify-content-center align-items-center menu__item" id="download__btn">
          <h4 class="text-center">Download Your Data</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}