{% extends "layout.html" %}
{% block main %}
<div class="container">
  <h1 class="text-center mb-4">In Theatres</h1>
  <div class="row">
    {% for movie in movies %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="movie">
            <div class="movie__poster">
                <img class="img-sm-fluid w-100 w-sm-0" src="{{url_for('static', filename='img/posters/' + movie.poster_path)}}" alt="{{movie['title']}}">
            </div>
            <div class="movie__overlay p-3 d-flex flex-column align-items-center justify-content-end">
              <div class="movie__name text-center mb-2">
                {{ movie['title'] }}
              </div>
              <div class="movie__btn">
                <a href="{{ url_for('main.book_movie', movie_id=movie['id']) }}" class="btn btn-outline-light btn-sm">Book Now</a>
              </div>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <ul class="pagination pagination-lg justify-content-center">
    {% for i in range(total_pages) %}
      <li class="page-item"><a class="page-link" href="{{ url_for('main.home', page=i+1) }}">{{ i + 1 }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}