{% extends "layout.html" %}
{% block main %}
<div class="container">
  <h1 class="text-center mb-4">Screened Movies</h1>
  <div class="row">
    {% for movie in movies %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="movie">
            <div class="movie__poster">
                <img class="img-sm-fluid w-100 w-sm-0" src="{{url_for('static', filename='img/posters/' + movie.poster_path)}}" alt="{{movie['title']}}">
            </div>
            <div class="movie__overlay p-3 d-flex flex-column align-items-center justify-content-end">
              <div class="movie__name mb-2 text-center">
                {{ movie['title'] }}
              </div>
              <div class="movie__btn mb-2">
                <a href="{{ url_for('theatre.screen_movie', movie_id=movie['id']) }}" class="btn btn-outline-light btn-sm">Delete Screening</a>
              </div>
              <!-- <div class="movie__btn">
                <a href="{{ url_for('theatre.screen_movie', movie_id=movie['id']) }}" class="btn btn-outline-light btn-sm">Update Screening</a>
              </div> -->
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}