{% extends "layout.html" %}
{% block main %}
<div class="container">
  <h1 class="text-center mb-4">Book Movie</h1>
  <div class="row">
      <div class="col-12 col-md-4 mb-3 mb-md-0 d-flex d-md-block justify-content-center">
            <img class="img-fluid" src="{{url_for('static', filename='img/posters' + movie['poster_path'])}}" alt="{{movie['title']}}">
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <h3>{{ movie["title"] }}</h3>
          </div>
          <div class="col-12">
            {{ movie["overview"] }}
          </div>
        </div>
      </div>
  </div>
  <hr>
  <h1 class="text-center">Booking Summary</h1>
  <hr>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-4">Seats: </div>
        <div class="col-8">
          {% for seat in seats %}
            <span class="btn btn-sm btn-outline-dark">R{{ seat["row"] }}-C{{ seat["column"] }} </span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-4">Booking Amount: </div>
        <div class="col-8">&#8377; {{ total_amount }}</div>
      </div>
    </div>
    <div class="col-12 mb-5 text-center">
      <form action="{{ url_for('main.confirmation', movie_id=movie['id'], theatre_id=theatre['id']) }}" method="POST" id="booking-form">
        <input type="hidden", name="seats" value="{{ seats }}">
        <input type="hidden" name="amount" value="{{ total_amount }}">
        <button class="btn btn-outline-primary pay-now__btn">Pay Now</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}